*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
.header{
    /* padding: 0px; */
    justify-content: space-between;
    display: flex;
    width: 100%;
    background-color:lightblue;
    position: relative;
    /* top: 0px; */
}
.logoimg{
    width: 150px;
    height: 150px;
}
.navlinks{
    padding: 55px;
}
.navlinks>a{
    margin-right: 40px;
    text-decoration: none;
    color: #005477;
    font-size: 20px;
}
.homeimg{
    position: relative;
    /* display: flex; */
}

#fg{
    position: relative;
    top: 30px;
    width: 96%;
    left: 35px;
}
#home{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: black;
}
.hometxt{
    padding: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    color: white;
    
}
#username{
    color:#005477;
    text-shadow: 2px 2px 8px #0004ff;
}
.abtimg{
    width: 100%;
}
#ng{
    position: relative;
    left: 139px;
    top: 121px;
    width: 500px;
}
#abtme{
    display: grid;
    grid-template-columns: 50% 50%;
}
    
.intro{
    padding: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}
.hometxt>a{
    /* position: absolute; */
    display: flex;
    background-color: #005477;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    text-decoration: none;
    /* position: absolute; */
    top: 750px;
}
.intro>h1{
    font-weight: bolder;
    font-size: 65px;
}

#contact>h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 65px;
}
#contact>img{
    width: 30%;
    margin-right: 3%;
    float: left;
    display: flex;
}
#contact>i{
    padding: 50px; 
}
.mobile{
    /* position: relative; */
    padding: 50px;
    border: 2px solid black;
    border-radius: 8px;
}
.cntno{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
}
.email{
    padding: 50px;
    border: 2px solid black;
    border-radius: 8px;
}
.emailid{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
}

.linkedin{
    padding: 50px;
    border: 2px solid black;
    border-radius: 8px;
}
.linkd{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
}
.github{
    padding: 50px;
    border: 2px solid black;
    border-radius: 8px;
}
.gith{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
}
.mobem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mobile:hover{
    background-color: #005477;
}
.email:hover{
    background-color: #005477;
}

.linkedin:hover{
    background-color: #005477;
}
.github:hover{
    background-color: #005477;
}
#skills>h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 65px;
}
.skillsets{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.languages{
    border: 2px solid #005477;
    color: black;
    height: 255px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
.languages>h1{
    text-decoration: underline;

}
.frontend>h1{
    text-decoration: underline;

}
.backend>h1{
    text-decoration: underline;

}
.frontend{
    border: 2px solid #005477;
    color: black;
    height: 253px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
.backend{
    border: 2px solid #005477;
    color: black;
    height: 253px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
#experience>h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 65px;
}
.exlinks>a{
    text-decoration: none;
    color: black;
    margin-left: 60px;
    
}
.job{
    margin-left: 50px;
}

.exlinks{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
#projectimg{
    width: 500px;
}

#projects>h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 65px;
}
.onlgr{
    border-style:double;
    width: fit-content ;
    border-radius: 5px;
}
#fbimg{
    width: 500px;
}
.fblogin{
    border-style:double;
    width: fit-content ;
    border-radius: 5px;
}
.myprojects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}